{% load static %}
 <!-- client section start -->
 <div class="client_section layout_padding">
    <div class="container">
       <div id="custom_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
             <div class="carousel-item active">
                <div class="row">
                   <div class="col-md-12">
                      <h1 class="about_taital">What syas customers</h1>
                   </div>
                </div>
                <div class="client_section_2">
                   <div class="client_taital_main">
                      <div class="client_left">
                         <div class="client_img"><img src="{% static 'images/client-img1.png' %}"></div>
                      </div>
                      <div class="client_right">
                         <h3 class="moark_text">Joy Moark</h3>
                         <p class="client_text">now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancynow use Lorem Ipsum as their default model text, </p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
                <div class="row">
                   <div class="col-md-12">
                      <h1 class="about_taital">What syas customers</h1>
                   </div>
                </div>
                <div class="client_section_2">
                   <div class="client_taital_main">
                      <div class="client_left">
                         <div class="client_img"><img src="{% static 'images/client-img1.png' %}"></div>
                      </div>
                      <div class="client_right">
                         <h3 class="moark_text">Joy Moark</h3>
                         <p class="client_text">now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancynow use Lorem Ipsum as their default model text, </p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
                <div class="row">
                   <div class="col-md-12">
                      <h1 class="about_taital">What syas customers</h1>
                   </div>
                </div>
                <div class="client_section_2">
                   <div class="client_taital_main">
                      <div class="client_left">
                         <div class="client_img"><img src="{% static 'images/client-img1.png' %}"></div>
                      </div>
                      <div class="client_right">
                         <h3 class="moark_text">Joy Moark</h3>
                         <p class="client_text">now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancynow use Lorem Ipsum as their default model text, </p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <a class="carousel-control-prev" href="#custom_slider" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
          </a>
          <a class="carousel-control-next" href="#custom_slider" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
          </a>
       </div>
    </div>
 </div>
 <!-- client section end -->