{% load static %}
<!-- coffee section start -->
 <div class="coffee_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="coffee_taital">OUR Coffee OFFER</h1>
         </div>
      </div>
   </div>
   <div class="coffee_section_2">
      <div id="main_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            {% for row in coffees %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
               <div class="container-fluid">
                  <div class="row">
                     {% for coffee in row %}
                     <div class="col-lg-3 col-md-6">
                        <div class="coffee_img"><img src="{{ coffee.image.url }}"></div>
                        <div class="coffee_box">
                           <h3 class="types_text">{{ coffee.title }}</h3>
                           <p class="looking_text">{{ coffee.detail }}</p>
                           <div class="read_bt"><a href="#">Read More</a></div>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
         <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
         <i class="fa fa-arrow-left"></i>
         </a>
         <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
         <i class="fa fa-arrow-right"></i>
         </a>
      </div>
   </div>
</div>
<!-- coffee section end --> 